.background-radial-gradient {
      background-image: url("../../../public/images/bg-login.avif"); 
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .bg-glass {
      background-color: #d9d9d992;
    }

/* estilos de footer */
:root {
    --bg-footer: #5FBAD3;
    --bg-body: #f8f8f8;
}

body{
    background-color: var(--bg-body);
}

.bg-footer {
    background-color: var(--bg-footer);
}

a {
    text-decoration: none;
}