div{
        font-family: 'Baloo 2', sans-serif;
}

#btn-save-testimonie{
    background-color: #24527A;
    border: none;
    outline: none;
}

.btn-edit{
    background-color: #24527A;
    border: none;
    outline: none;
}

.btn-delete{
    background-color: #aa1b1b;
    border: none;
    outline: none;
}

#add-testimonie{
    background-color: #24527A;
    border: none;
    outline: none;
}

#delete-all{
    background-color: #24527a93;
    border: none;
    outline: none;
}

#delete-all:hover{
    background-color: #aa1b1b;
    border: none;
    outline: none;
}


/* estilos de footer */
:root {
    --bg-footer: #5FBAD3;
    --bg-body: #f8f8f8;
}

body{
    background-color: var(--bg-body);
}

.bg-footer {
    font-family: 'Baloo 2', sans-serif;
    background-color: var(--bg-footer);
}

a {
    font-family: 'Baloo 2', sans-serif;
    text-decoration: none;
}



