body {
    background-image: url('../../../public/images/Milho.jpg'); /* Reemplaza con la URL de la imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.form-container {
    background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para el formulario */
            padding: 20px;
            border-radius: 10px;
            width: 50%;
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translateY(-50%);
}