/* estilos de footer */
:root {
    --bg-footer: #5FBAD3;
    --bg-body: #f8f8f8;
}

body{
    background-color: var(--bg-body);
}

.bg-footer {
    background-color: var(--bg-footer);
}

a {
    text-decoration: none;
}