:root {
    --bg-body: #ffffff;
    --card-bg: rgba(224, 247, 250, 0.95);
    --primary: #0d47a1;
    --text-dark: #000000;
    --border-radius: 20px;
    --shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}


.formulario-caregiver {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.formulario-caregiver .form-section {
    flex: 1 1 45%;
    min-width: 300px;
}

.formulario-caregiver legend {
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

.formulario-caregiver input,
.formulario-caregiver textarea {
    border-radius: 12px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: 'Baloo 2', cursive;
    margin-bottom: 1rem;
}
#previewPetPhoto{
/*     display: block; */
    margin: 0 auto;
    max-width: 75%;
    display: none; 
    padding: 30px;
    border-radius: 40px;
}

#terms {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  text-align: center;
}

button[type="submit"] {
    background-color: var(--primary);
    border: none;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 12px 40px;
    border-radius: 12px;
    color: white;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #08306b;
}

.button-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
}


/* estilos de footer */
:root {
    --bg-footer: #5FBAD3;
    --bg-body: #f8f8f8;
}

body{
    background-color: var(--bg-body);
}


.bg-footer {
    background-color: var(--bg-footer);
}

a {
    text-decoration: none;
}